<h1>Welcome to Roam</h1>
<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>


<p>Please Login or Create an Account to Access Roam </p>

<%= form_tag @user do %>
  <%= label_tag :username %>
  <div class="field">
    <%= text_field_tag :username %>
  </div>
  <%= label_tag :password %>
  <div class="field">
    <%= password_field_tag :password %>
  </div>
  <%= submit_tag 'Login', {class: 'ui medium pink button inverted'} %>
<% end %>


<%= button_to "Create Account", new_user_path, method: :get %>
