<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">




<h1>Welcome to Roam</h1>
<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>


<p>Please Login or Create an Account to Access Roam </p>

<%= form_tag @user do %>
  <%= label_tag :username %>
  <div class="field">
    <%= text_field_tag :username %>
  </div>
  <%= label_tag :password %>
  <div class="field">
    <%= password_field_tag :password %>
  </div> <br>
  <%= submit_tag 'Login', {class: 'ui medium pink button inverted'} %>
<% end %>

<br>

<%= button_to "Create Account", new_user_path, method: :get %>





            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
