<h2>Edit Your Post</h2>


<% if flash[:errors] %>
  <% flash[:errors].each do |m| %>
    <%= m %>
  <% end%>
<% end %>


<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.submit %>
<% end %>
