<h2>Make a New Post</h2>


<% if flash[:errors] %>
  <% flash[:errors].each do |m| %>
    <div class='errors'><%= m %></div>
  <% end%>
<% end %>

<%= form_for @post do |f| %>
  <%= f.hidden_field :user_id, value: @current_user.id %><br>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  <%= f.label :photo_url %>
  <%= f.text_field :photo_url %><br>


  <%= f.label :location %> <br>
  <%= f.collection_select :location_id, Location.all, :id, :name, include_blank: "Select a Location" %> <br>


  <%= f.label "Or Make a New Location" %> <br>
  <%= f.fields_for :location, @location do |form| %>
    <%= form.label :city %>
    <%= form.text_field :city %><br>
    <%= form.label :country %>
    <%= form.select :country, Location::COUNTRIES, include_blank: "Select a Country"%><br>
  <% end %>

  <%= f.label :description %>
  <%= f.text_field :description %><br>

  <%= f.submit %>
<% end %>
