

<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark orange lighten-1">

  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="<%= posts_path %>">Browse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= feed_path %>">Feed</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= users_path %>">Profiles</a>
      </li>
      <li class="nav-item">
        <% if !session[:user_id] %>
        <a class="nav-link" href="<%= new_user_path %>">Sign Up</a>
        <% end %>
      </li>
      <li class="nav-item">
        <% if session[:user_id] %>
            <%=link_to 'Logout', "/logout", {method: :delete}  %>
        <% else %>
          <a class="nav-link" href="<%= login_path %>">Login</a>
        <% end %>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item avatar">
        <img src="https://previews.123rf.com/images/nereia/nereia1802/nereia180200066/95113959-floral-watercolor-alphabet-monogram-initial-letter-r-design-with-hand-drawn-peony-flower-for-wedding.jpg" class="rounded-circle z-depth-0"


            alt="avatar image" height="50">
        
      </li>
    </ul>
  </div>

</nav>
<!--/.Navbar -->
