<!DOCTYPE html>
<html>
  <head>
    <head>
        <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
       <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
       <%= csrf_meta_tags %>
      </head>
      <body>
    <!-- Renders navigation file located at app/views/layouts/_navigation.html.erb -->
    <%= render "layouts/navigation" %>

    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
